<% if false %>
    <%= form_with model: @article, local: true do |form| %>
 
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
       <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
   </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
   
  <% end %>
<% end %>

<%= form_for @article do |a| %>
  <div> 
  <%= a.text_field :title, placeholder: "Title" %>
  <br/>
  <%= a.text_area :text, placeholder: "Text" %>
  </div>

  <br/>
  <%= a.fields_for :comments do |c| %>
  <div>
  <%= c.text_field :commenter, placeholder: "Commentor Name" %>
  <br/>
  <%= c.text_area :body, placeholder: "Add Description", rows: 10 %> 
  </div>
  <% end %>

  <div> 
  <%= a.submit %>
  </div>
  <% end %>
